


/* banner section */


.banner{
  text-align: right;
 
  background: url('../images/banner/banner3.png');
  width: 1600px;
  height: 808px;
 }
.banner-head{
  padding-top: 300px;
  padding-right: 350px;
  color:white;
  font-size: 60px;
}
.banner-paragraph{
  padding-left: 500px;
  padding-right: 350px;
  color: white;
}
.btn-primary{
  padding-right: 100px;
}

/* failures section */

.failures{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.failures-head{
  color: #151414;
  font-size: 50px;
  font-weight: 700;
}
.failures-paragraph{
  color: gray;
}
li{
 color: gray;
}
/* my plans section */

.plan{
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
  
}
.my-plans{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* call section */
.call{
  background: url('../images/watch.png');
  width: 1140px;
  height: 300px;
  border-radius: 8px;
    
}
.call-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

}
.call-heading{
  padding-top: 60px;
  padding-left: 60px;
  color: #FFF;
}